*{
  box-sizing: border-box;
}

html, body, .container{
  height: 100%;
}

.container{
  display: flex;
  justify-content: center;
}

.MovieBlock{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  padding-top: 80px;
}

.Loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 400;
}